<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    nav,
    main,
    footer {

        height: 100px;

    }

    nav {
        background-color: red;
    }

    main {
        background-color: blue;
    }

    footer {
        background-color: green;
        margin-top: auto;
    }
</style>

<body>

    <nav></nav>

    <main></main>

    <footer></footer>
</body>

</html>